<% if resource.errors.any? %>
  <%= render AlertComponent.new(variant: :danger, dismissable: false) do %>
    <div>
      <p class="font-medium">
        <%= I18n.t("errors.messages.not_saved",
               count: resource.errors.count,
               resource: resource.class.model_name.human.downcase) %>
      </p>
      <ul class="mt-1 list-disc list-inside text-sm">
        <% resource.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
<% end %>
